<template>
  <div class="">
    <v-btn @click="count"> test {{amount}} </v-btn>
  </div>
</template>

<script>
import {VBtn} from 'vuetify/lib' // <---- for tree shaking & a la carte
export default {
  name: 'VuetifyBtnALaCarte',
  components: {
    VBtn
  },
  data: () =>({
    amount: 0
  }),
  methods:{
    count() {
      this.amount += 1
    }
  }
}
</script>
