<template>
  <div class="">
    <button type="button" @click="count"> test {{amount}} </button>
  </div>
</template>

<script>
export default {
  name: 'WrapBtn',
  components: {
  },
  data: () =>({
    amount: 0
  }),
  methods:{
    count() {
      this.amount += 1
    }
  }
}
</script>
